* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
html,
body {
  height: 100%;
  width: 100%;
}
body {
  height: 100%;
  width: 100%;
}

.page {
  height: 100%;
  width: 100%;
  background-color: #1d1e1e;
}

nav {
  width: 100%;
  padding: 0.8rem 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: aquamarine; */
}

nav > .left {
  height: 100%;
  padding: 0rem 4rem;
  width: 100%;
  height: 10vh;
  display: flex;
  align-items: start;
  justify-content: center;
}

nav > .left > h2 {
  color: #e4e7e7;
  font-size: 1.6rem;
  font-weight: 400;
  font-family: monospace;
}

nav > .left > h2 > span > i {
  font-size: 1rem;
  margin-bottom: 90px;
}

nav > .right {
 
  width: 100%;
  height: 10vh;
  display: flex;
  align-items: start;
  justify-content: center;
  padding: 0.8rem 4rem;
}

nav > .right > ul {
  list-style: none;
}

nav > .right > ul,
li > a {
  color: #e4e7e7;
  display: flex;
  justify-content: center;
  gap: 2rem;
  text-decoration: none;
  font-size: 0.95rem;
  font-weight: 300;
}

nav > .right > ul > li:hover {
  cursor: pointer;
  color: black;
  font-weight: bold;
}
