* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
html,
body {
  height: 100%;
  width: 100%;
}
body {
  height: 100%;
  width: 100%;
}

.page {
  height: 100%;
  width: 100%;
  background-color: #1d1e1e;
}

nav {
  width: 100%;
  padding: 0rem 3rem;
  display: flex;

}

nav > .left {
  height: 100%;
  padding: 2rem 4rem;
  width: 100%;
}

nav > .left > h2 {
  color: #e4e7e7;
  font-size: 2rem;
}
nav > .right {
  height: 100%;
  width: 100%;
  padding: 2rem 4rem;
}

nav > .right > ul {
  list-style: none;
}

nav > .right > ul,
li > a {
  color: #e4e7e7;
  display: flex;
  gap: 2rem;
  text-decoration: none;
  font-size: 1.2rem;
}
nav > .right > ul > li:hover {
  cursor: pointer;
  color: black;
  font-weight: bold;
}
